footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 123, 255, 0.8), rgba(255, 0, 123, 0.8));
    color: #FFFFFF;
    margin-top: 4%;
    padding: 1%;
    flex-wrap: wrap;
}


.logoRSSS img {
    height: 12vh;
}

.logoRSSS img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.logoRSSS {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logoRSSS a {
    color: #FFFFFF;
    text-decoration: none;
}

.logoRSSS a:hover {
    color: #FFFFFF;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
}

.copy {
    text-align: center;
    width: 33%;
}

.rsss img {
    width: 20px;
    height: 20px;
    margin: 4px;
    cursor: pointer;
}

.rsss img:hover {
    transform: scale(1.2);
}

.informacionLegal {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.informacionLegal h2 {
    margin: 0;
    color: #FFFFFF;
}

.informacionLegal hr {
    color: #FFFFFF;
    width: 35%;
}

.enlaceFooter {
    margin: 0 15px;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
}




.informacionLegal a:hover {
    color: #FFFFFF;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .logoRSSS,
    .copy,
    .informacionLegal {
        width: 100%;
        /* Cada sección ocupa el 100% del ancho en pantallas más pequeñas */
        text-align: center;
        /* Centra el contenido */
        margin-bottom: 1rem;
    }

    .logoRSSS img {
        height: 12vh;
        /* Ajustamos el tamaño del logo para pantallas más pequeñas */
    }

    .rsss img {
        width: 30px;
        /* Aumentamos el tamaño de los íconos en pantallas pequeñas */
        height: 30px;
    }

    .informacionLegal hr {
        width: 50%;
        /* Ajustamos el ancho de la línea en pantallas pequeñas */
    }

    .copy p {
        font-size: 1rem;
        /* Reducimos el tamaño del texto */
    }

    .enlaceFooter {
        font-size: 1rem;
        /* Reducimos el tamaño del texto de los enlaces */
    }
}

@media (max-width: 480px) {
    .logoRSSS img {
        height: 15vh;
        /* Ajustamos aún más el tamaño del logo para pantallas muy pequeñas */
    }

    .rsss img {
        width: 25px;
        height: 25px;
    }

    .copy p {
        font-size: 0.9rem;
        /* Ajustamos el tamaño de la fuente aún más */
    }
}