.tituloGaleria {
    color: #00FFFF;
    font-size: 3rem;
    font-weight: bold;
    text-shadow:
        0 0 4px rgb(11, 103, 209),
        0 0 8px rgb(11, 103, 209),
        0px 0px 12px rgb(11, 103, 209),
        0px 0px 20px rgb(11, 103, 209),
        0px 0px 30px rgb(11, 103, 209);
    text-align: center;
    line-height: 1.1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.tituloGaleria.visible {
    opacity: 1;
    transform: translateY(0);
}

.tituloGaleria.hidden {
    opacity: 0;
    transform: translateY(20px);
}


.galeria {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.galeria-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.galeria-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.galeria-item.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.galeria-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria-img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
}

.imagen-grande {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 10px;
}

.cerrarImagen,
.anterior,
.siguiente {
    height: 40px;
    padding: 0px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.cerrarImagen {
    position: absolute;
    top: 10px;
    right: 10px;
}

.anterior {
    left: 10px;
}

.siguiente {
    right: 10px;
}


/* Estilos para pantallas medianas */
@media (max-width: 768px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en pantallas medianas */
    }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
    .galeria-grid {
        grid-template-columns: 1fr;
        /* 1 columna en pantallas pequeñas */
    }

    .tituloGaleria {
        font-size: 2rem;
        /* Reducir tamaño del título en pantallas pequeñas */
    }
}