.tituloGaleria {
    color: #00FFFF;
    font-size: 3rem;
    font-weight: bold;
    text-shadow:
        0 0 4px rgb(11, 103, 209),
        0 0 8px rgb(11, 103, 209),
        0px 0px 12px rgb(11, 103, 209),
        0px 0px 20px rgb(11, 103, 209),
        0px 0px 30px rgb(11, 103, 209);
    text-align: center;
    line-height: 1.1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.tituloGaleria.visible {
    opacity: 1;
    transform: translateY(0);
}

.tituloGaleria.hidden {
    opacity: 0;
    transform: translateY(20px);
}


/* Contenedor Principal */
.galeriaDeImagenesContainer {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Contenedor de Galería */
.galeriaImagenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

/* Estilo de Tarjetas */
.tarjetaAnio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-size: cover;
    background-position: center;
    transition:
        transform 0.4s ease,
        clip-path 0.4s ease,
        box-shadow 0.4s ease,
        z-index 0.4s ease;
    width: 100%;
}

.tarjetaAnio h3 {
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
    color: white;
    text-shadow:
        0 0 4px rgb(11, 103, 209),
        0 0 8px rgb(11, 103, 209),
        0px 0px 12px rgb(11, 103, 209),
        0px 0px 20px rgb(11, 103, 209),
        0px 0px 30px rgb(11, 103, 209);
}

.anio2023 {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    background: url('../../../imagenes/2023.png') no-repeat center center / cover;
    margin-right: -100px;
    z-index: 3;
}

.anio2024 {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    background: url('../../../imagenes/2024.png') no-repeat center center / cover;
    margin-right: -100px;
    z-index: 2;
}

.anio2025 {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    background: url('../../../imagenes/2025.png') no-repeat center center / cover;
    /* Ajusta para eliminar el hueco con la tarjeta superior */
    z-index: 1;
}


/* Agregar un pseudo-elemento que cubrirá el fondo con opacidad cuando se hace hover */
.tarjetaAnio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tarjetaAnio:hover::before {
    opacity: 1;

}

.tarjetaAnio:hover {
    transform: scale(1.05);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 10;


}

/* Botón */
.galeriaImagenes button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background: linear-gradient(to right, rgba(0, 123, 255, 1), rgba(255, 0, 123, 1));
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.5), 0 6px 18px rgba(255, 0, 123, 0.4);
    transition: opacity 0.3s ease, background 0.3s ease, transform 0.3s ease;
}

.galeriaImagenes button:hover {
    box-shadow: 0 0 10px rgba(0, 123, 255, 1), 0 0 20px rgba(255, 0, 123, 1);
}



.tarjetaAnio:hover button {
    opacity: 1;

}


/* Responsive Design */
@media (max-width: 768px) {
    .galeriaImagenes {
        flex-direction: column;

    }

    .tarjetaAnio {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        margin-right: 0;
        height: 170px;
    }
}