.eventos {
    margin: 4% 0;
    width: 100%;

}

.eventoEncabezado {


    color: #00FFFF;
    font-size: 3rem;
    font-weight: bold;
    text-shadow:
        0 0 4px rgb(11, 103, 209),
        0 0 8px rgb(11, 103, 209),
        0px 0px 12px rgb(11, 103, 209),
        0px 0px 20px rgb(11, 103, 209),
        0px 0px 30px rgb(11, 103, 209);

    text-align: center;
    line-height: 1.1;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;

}


.eventoEncabezado.visible {
    opacity: 1;
    transform: translateY(0);
}

.eventoEncabezado.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.imagenesEventos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;

}




.evento-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.evento-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.evento-card.hidden {
    opacity: 0;
    transform: translateY(20px);
}


.evento-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.evento-image:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 20px rgb(11, 103, 209), 0 0 40px rgb(11, 103, 209), 0 0 60px rgb(11, 103, 209);
}

.fechaCartel {
    color: #FF69B4;
    font-size: 1;
    font-weight: bold;
    text-shadow:
        0 0 4px rgba(243, 5, 124, 0.7),
        0 0 16px rgba(250, 83, 160, 0.7),
        0 0 20px rgba(243, 5, 124, 0.7);
    text-align: center;
    line-height: 1.1;
    margin: 2.5rem 0;
}

/* Animación de Pop-up para el modal */
@keyframes popUp {
    0% {
        transform: scale(0.7);
        /* Comienza más pequeño */
        opacity: 0;
        /* Comienza invisible */
    }

    100% {
        transform: scale(1);
        /* Escala a su tamaño original */
        opacity: 1;
        /* Se vuelve completamente visible */
    }
}

.containerCartelGrande {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.cartelGrande {
    width: 500px;
    animation: popUp 0.5s ease-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imagenGrande {
    width: 70%;
    height: 70%;
    margin-bottom: 4%;
    object-fit: fill;
    border-radius: 18px;
}

.boton {
    width: 70%;
    padding: 0.8rem;
    margin-top: 1rem;
    background: linear-gradient(to right, rgba(0, 123, 255, 1), rgba(255, 0, 123, 1));
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;


}

.boton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 123, 255, 1), 0 0 20px rgba(255, 0, 123, 1);

}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 80vh;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.flip-card-back {
    background: linear-gradient(to top, rgba(0, 123, 255, 1), rgba(255, 0, 123, 1));
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* Espaciado uniforme */
    align-items: center;
    padding: 3%;
    text-align: justify;
    width: 100%;
    box-sizing: border-box;

}

/* Estilo para los párrafos en la parte trasera */
.flip-card-back p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #ffffff;
    text-align: justify;
    width: 90%;
    margin-bottom: 0.8rem;
}

/* Estilo para los párrafos de fecha, para destacar un poco más */
p.fecha {
    font-size: 1rem;
    font-weight: bold;
    color: #ffcc00;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0 0 8px rgba(255, 0, 123, 1), 0 0 12px rgba(255, 0, 123, 1);
}

.cerrar {
    position: absolute;
    padding: 0.6rem;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #00FFFF;
    color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cerrar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(11, 103, 209), 0 0 40px rgb(11, 103, 209), 0 0 60px rgb(11, 103, 209);
}


.eventoTitulo {
    color: #00FFFF;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow:
        0 0 4px rgb(11, 103, 209),
        0 0 8px rgb(11, 103, 209),
        0px 0px 12px rgb(11, 103, 209),
        0px 0px 20px rgb(11, 103, 209),
        0px 0px 30px rgb(11, 103, 209);

    text-align: center;
    line-height: 1.1;
    margin-bottom: 1rem;

}

.videoIframe {
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}

.botonComprar {
    width: 50%;
    padding: 0.6rem;
    background: #00FFFF;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0;
}

.botonComprar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(11, 103, 209), 0 0 40px rgb(11, 103, 209), 0 0 60px rgb(11, 103, 209);
}



/* Media Query para tablets grandes y laptops (entre 1200px y 1920px) */
@media (max-width: 1200px) {

    /* Dispositivos: Laptops grandes, tablets en orientación horizontal */

    .flip-card-back {
        padding: 1%;

    }

    .eventoTitulo {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .flip-card-back p {
        font-size: 0.7rem;
        margin-bottom: 0.6rem;
    }

    p.fecha {
        font-size: 0.8rem;

    }

    .flip-card-back .videoIframe {
        height: 200px;
        margin-bottom: 0.7rem;
    }

    .botonComprar {
        font-size: 0.7rem;
    }
}

/* Media Query para tablets medianas y laptops pequeñas (entre 992px y 1199px) */
@media (max-width: 992px) {

    /* Dispositivos: Laptops pequeñas, tablets en orientación vertical */

    /* Centrar el último elemento si queda solo en una fila */
    .imagenesEventos>.evento-card:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        /* Hace que el elemento ocupe toda la fila */
        width: 100%;
        align-self: center;

    }

    .imagenesEventos>.evento-card:last-child:nth-child(odd) .evento-image {
        width: 25%;
        /* Tamaño reducido solo para este caso */
        height: 25%;
        /* Mantén la proporción */
        object-fit: cover;
    }


    .flip-card-back {
        padding: 1%;

    }

    .eventoTitulo {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .flip-card-back p {
        font-size: 0.7rem;
        margin-bottom: 0.6rem;
    }

    p.fecha {
        font-size: 0.8rem;

    }

    .flip-card-back .videoIframe {
        height: 200px;
        margin-bottom: 0.7rem;
    }

    .botonComprar {
        font-size: 0.7rem;
    }
}


/* Media Query para tablets pequeñas y phablets (entre 768px y 991px) */
@media (max-width: 768px) {

    .imagenesEventos>.evento-card:last-child:nth-child(odd) .evento-image {
        width: 25%;
        height: 25%;
        object-fit: cover;
    }

    /* Dispositivos: Laptops grandes, tablets en orientación horizontal */

    .flip-card-back {
        padding: 1%;

    }

    .eventoTitulo {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .flip-card-back p {
        font-size: 0.7rem;
        margin-bottom: 0.6rem;
    }

    p.fecha {
        font-size: 0.8rem;

    }

    .flip-card-back .videoIframe {
        height: 200px;
        margin-bottom: 0.7rem;
    }

    .botonComprar {
        font-size: 0.7rem;
    }
}

/* Media Query para teléfonos grandes (entre 576px y 767px) */
@media (max-width: 576px) {

    .imagenesEventos>.evento-card:last-child:nth-child(odd) .evento-image {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    /* Dispositivos: Smartphones grandes (iPhone Plus, Galaxy S series) */
    /* Dispositivos: Laptops grandes, tablets en orientación horizontal */

    .flip-card-back {
        padding: 1%;

    }

    .eventoTitulo {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .flip-card-back p {
        font-size: 0.7rem;
        margin-bottom: 0.6rem;
    }

    p.fecha {
        font-size: 0.8rem;

    }

    .flip-card-back .videoIframe {
        height: 200px;
        margin-bottom: 0.7rem;
    }

    .botonComprar {
        font-size: 0.7rem;
    }
}

/* Media Query para teléfonos medianos (entre 480px y 575px) */
@media (max-width: 480px) {

    /* Dispositivos: Smartphones medianos (iPhone, Pixel) */
    /* Dispositivos: Laptops grandes, tablets en orientación horizontal */

    .imagenesEventos>.evento-card:last-child:nth-child(odd) .evento-image {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .flip-card-back {
        padding: 1%;
        width: 70%;
    }

    .eventoTitulo {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .flip-card-back p {
        font-size: 0.7rem;
        margin-bottom: 0.6rem;
    }

    p.fecha {
        font-size: 0.8rem;

    }

    .flip-card-back .videoIframe {
        height: 100px;
        margin-bottom: 0.7rem;
    }

    .botonComprar {
        font-size: 0.7rem;
    }
}

/* Media Query para teléfonos pequeños (menos de 480px) */
@media (max-width: 320px) {

    /* Dispositivos: Smartphones pequeños (iPhone SE, teléfonos básicos Android) */
    /* Dispositivos: Laptops grandes, tablets en orientación horizontal */

    .imagenesEventos>.evento-card:last-child:nth-child(odd) .evento-image {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .flip-card-back {
        padding: 1%;
        width: 70%;
    }

    .eventoTitulo {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    .flip-card-back p {
        font-size: 0.7rem;
        margin-bottom: 0.6rem;
    }

    p.fecha {
        font-size: 0.8rem;

    }

    .flip-card-back .videoIframe {
        height: 100px;
        margin-bottom: 0.7rem;
    }

    .botonComprar {
        font-size: 0.7rem;
    }
}